header nav {
    /* display: flex; */
    gap: 16px;
    margin: 0 auto;
}

header nav h1 {
    margin-right: auto;
    border-bottom: 3px solid black;
}

header nav a{
    text-decoration: none;
    padding: 6px;
    border-radius: 4px;
}

header nav a.active{
    background: lightgrey;
}